<h1>Our Family of Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %></h3>
  <p><%= shelter.address %><br>
    <%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %>
  </p><br>
<% end %>

<a href="/shelters/new" class="button">New Shelter</a>