<pre><a href="/pets">To Pets Index</a>  <a href="/shelters">To Shelters Index</a></pre>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %><br>
  <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
</p>

<a href="/shelters/<%= @shelter.id %>/pets">See Our Pets</a><br><br>

<a href="/shelters/<%= @shelter.id %>/review/new">Leave a Review</a><br>

<h3>Shelter Statistics</h3>
<p id="count">Number of Pets: <%= @shelter.pet_count %></p>
<p id='avg-customer-reviews'>Average Customer Reviews: <%= @shelter.review_average %></p>
<p id='app-count'>Total Applications: <%= @shelter.application_count %></p>

<h3>Reviews</h3>
<div id="rev">
  <% @reviews.each do |review| %>
    <h2 id="name-review"><%= review.user_name %>: <%= review.rating %></h2>
    <h4><%= review.title %></h4>
    <p><%= review.content %></p>

    <% if review.picture != "" %>
      <%= image_tag(review.picture, width:'30%') %>
    <% end %><br>

    <%= link_to "Edit Review", "/shelters/#{@shelter.id}/review/#{review.id}/edit" %><br>
    <%= link_to "Delete Review", "/shelters/#{@shelter.id}/review/#{review.id}", method: "delete" %>
  <% end %><br><br>
</div>



<%= link_to "Update Shelter","/shelters/#{@shelter.id}/edit" %><br>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: "delete" %>