<pre><a href="/pets">To Pets Index</a>  <a href="/shelters">To Shelters Index</a></pre>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %><br>
  <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
</p>

<a href="/shelters/<%= @shelter.id %>/pets">See Our Pets</a><br><br>

<a href="/shelters/<%= @shelter.id %>/review/new">Leave a Review</a><br>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
  <h4><%= review.title %></h4>
  <h5 id="name-review"><%= review.user_name %>: <%= review.rating %></h5>
  <p><%= review.content %></p>
  <p><% if review.picture != "" %>
    <%= image_tag(review.picture, width:'30%') %>
  <% end %></p><br>
  <%= link_to "Edit Review", "/shelters/#{@shelter.id}/review/#{review.id}/edit" %><br>
  <%= link_to "Delete Review", "/shelters/#{@shelter.id}/review/#{review.id}", method: "delete" %>
<% end %><br><br>

<%= link_to "Update Shelter","/shelters/#{@shelter.id}/edit" %><br>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: "delete" %>

