<pre><a href="/pets">To Pets Index</a>  <a href="/shelters">To Shelters Index</a></pre>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %><br>
  <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
</p>

<a href="/shelters/<%= @shelter.id %>/pets">See Our Pets</a><br><br>

<a href="/shelters/<%= @shelter.id %>/review/new">Leave a Review</a><br>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
  <h4><%= review.title %></h4>
  <h6><%= review.user_name %>: <%= review.rating %></h6>
  <p><%= review.content %></p>
  <% if review.picture != "" %>
    <%= image_tag(review.picture, width:'30%') %>
  <% end %><br>
  <%= link_to "Edit Review", "/shelters/#{@shelter.id}/review/#{review.id}/edit" %>
  <%= button_to "Delete Review", "/shelters/#{@shelter.id}/review/#{review.id}", method: "delete" %>
<% end %><br><br>

<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a><br><br>

<form action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete"/>
</form>
