<a>Application for Adoption</a>

<h2><%= @application.user.name %></h2>

<p><%= @application.user.street_address %><br>
  <%= @application.user.city %>, <%= @application.user.state %>
  <%= @application.user.zip %></p>

<p><i><%= @application.description %></i></p>
<p><b><%= @application.application_status %></b></p>

<div id="pets-of-interest">
  <% if @application.pets.count != 0 %>
    <% @application.pets.uniq.each do |pet| %>
      <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
    <% end %>
  <% end %>
</div>

<%= form_tag "/applications/#{@application.id}", method: 'get' do %>
  Add a Pet to this Application <br>
  <%= text_field_tag :search_by_name, params[:search_by_name], placeholder: "Search Pets by Name" %>
  <%= submit_tag 'Search' %>
<% end %><br>

<section id="search-results">
  <% if @pet_results != [] %>
    <% @pet_results.each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <form action=<%="/applications/#{@application.id}"%> method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="PATCH" />
        <input type='hidden' name='pet_id' value="<%= pet.id%>"/>
        <input type='submit' value='Adopt this Pet' name='Adopt this Pet'/>
      </form>
    <% end %>
  <% end %>
</section>