<form action="/pets/<%= @pet.id %>" method="post" class="edit_form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <h4>Edit Pet:</h4>
  <input type="text" name="pet[image]" value="<%= @pet.image %>"/><br/>
  <input type="text" name="pet[name]" value="<%= @pet.name %>"/><br/>
  <input type="text" name="pet[description]" value="<%= @pet.description %>"/><br/>
  <input type="text" name="pet[age]" value="<%= @pet.age %>"/><br/>
  <input type="text" name="pet[sex]" value="<%= @pet.sex %>"/><br/>
  <input type="hidden" name="pet[shelter_id]" value="<%= @pet.shelter_id %>"/><br>
  <input type="submit" id="submit" />
</form><br>

<a href="/pets">To Pets Index</a><br>
<a href="/shelters">To Shelters Index</a>