<h1><%= @user.name %></h1>

<p><%= @user.street_address %><br>
  <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
</p>

<h2>Average User Rating: <%= @user.review_average %></h2><br>

<section id="highlighted">
  <h3>Highlighted User Reviews</h3>
    <div id="best-review">
      <p><b><%= @user.best_review.title %>: <%= @user.best_review.rating %></b><br>
      <%= @user.best_review.content %></p>
    </div>

    <div id="worst-review">
      <p><b><%= @user.worst_review.title %>: <%= @user.worst_review.rating %></b><br>
      <%= @user.worst_review.content %></p>
    </div>
</section>